@media screen and (max-width: 520px){ 

    main{
        height:100%;
    }
    .main-container{
        background-image: url(img/caffeine-g1d036f6df_1920.jpg);
        background-size:cover;
        height: 110%;
    }

    .main-left{
        display: none;
    }

    .main-right{
        margin:0 auto;
        color:white;
        
    }

    .button{
        border-color: white;
       font-family: sans-serif;
    }

   


    
    header{
        display: none;
    }
}

@media screen and (min-width: 1020px){
    .button a{
        transition: 0.5s;
    }
    .button a:hover{
        color:gray;
    }
}
